h1{
    text-align: center;
}

.list-container{
    display: none
}

#search{
    background-color: blue;
}

#fetch{
    background-color: green;
    padding: 5px 10px;
}

#mark{
    background-color: green;
}